.adminContainer {
    display: flex;

    .adminContent {
        background: #081028;
        flex-grow: 1;
    }

    .adminSidebar {
        height: 100vh;
        border-right: 2px solid #0B1739;
    }
}